## Set - Conjuntos

In [23]:
# is the same as dictionary, but we use just the value, not key
'''
we have operators very useful
created equals dict ou using method set()
we can't use duplicate elements in set
'''

# Set items are unordered, unchangeable, and do not allow duplicate values.

my_set = {1, 2, 3, 4, 5, 5}
# iterable
my_set

{1, 2, 3, 4, 5}

In [24]:
# add
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

In [25]:
# remove
my_set.discard(6)
my_set

{1, 2, 3, 4, 5}

In [26]:
# contains O(1)
1 in my_set

True

In [5]:
# Union ( | ) -> O(len(s1)+len(s2))
'''
return a set of elements appearing once
'''
s1 = {1,2,3,4,1}
s2 = {1,2,3,7}
s1 | s2

{1, 2, 3, 4, 7}

In [2]:
# Intersection -> operator &
'''
O(min(len(s3), len(s4)) Average case

return a set with equals elements the both sets
'''
s3 = {1,2,3,4, 5}
s4 = {1,2,3}
s3 & s4

{1, 2, 3}

In [7]:
# Difference ( - ) 
'''
O(len(s3)) Average case
return unics elements
'''
s3 - s4

{4, 5}

In [30]:
# Difference ( ^ )
'''
O(len(s)) Average case
'''
s3 ^ s4

{4, 5}

In [21]:
# all items present in the two sets, but not present in the both with method

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference(y)

{'banana', 'cherry', 'google', 'microsoft'}

In [17]:
# Returns a set, that is the intersection of two other sets, method
t = {"apple", "banana", "cherry"}
u = {"google", "microsoft", "apple"}
t.intersection(u)

{'apple'}