## Set - Conjuntos

In [23]:
# is the same as dictionary, but we use just the value, not key
'''
we have operators very useful
created equals dict ou using method set()
we can't use duplicate elements in set
'''
my_set = {1, 2, 3, 4, 5, 5}
# iterable
my_set

{1, 2, 3, 4, 5}

In [24]:
# add
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

In [25]:
# remove
my_set.discard(6)
my_set

{1, 2, 3, 4, 5}

In [26]:
# contains O(1)
1 in my_set

True

In [27]:
# Union ( | ) -> O(len(s1)+len(s2))
'''
return a set of elements appearing once
'''
s1 = {1,2,3,4}
s2 = {1,2,3}
s1 | s2

{1, 2, 3, 4}

In [28]:
# Intersection -> operator &
'''
O(min(len(s3), len(s4)) Average case

return a set with equals elements the both sets
'''
s3 = {1,2,3,4, 5}
s4 = {1,2,3}
s3 & s4

{1, 2, 3}

In [29]:
# Difference ( - ) 
'''
O(len(s3)) Average case
return unics elements os de left set
'''
s3 - s4

{4, 5}

In [30]:
# Difference ( ^ )
'''
O(len(s)) Average case
'''
s3 ^ s4

{4, 5}